<a href="https://colab.research.google.com/github/anandacdr/Data-Scientist-Complete-Notes/blob/master/extract_transform_ETL_using_AWS_RDS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install mysql.connector
import mysql.connector

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.9/11.9 MB 72.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py) ... done
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp38-cp38-linux_x86_64.whl size=247965 sha256=87be82a178208bfebfccbee9016e492cf1ec1e54e46afb7ab07a1416b694d536
  Stored in directory: /root/.cache/pip/wheels/57/e4/98/5feafb5c393dd2540e44b064a6f95832990d543e5b4f53ea8f
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9

In [ ]:
conn = mysql.connector.connect(host='database-1.codzmntflx6t.ap-northeast-1.rds.amazonaws.com',user='admin',password='911Pentagon',database='ipl')

In [ ]:
import pandas as pd

In [ ]:
delivery = pd.read_sql_query('SELECT * FROM delivery',conn)
player = pd.read_sql_query('SELECT * FROM player',conn)
player_captain = pd.read_sql_query('SELECT * FROM player_captain',conn)

In [ ]:
temp_df = player.merge(player_captain,on='Player_Id')[['Player_Name','Match_Id','Is_Captain']]

In [ ]:
temp_df.head(1)

  Player_Name  Match_Id  Is_Captain
0  SC Ganguly    335987           1

In [ ]:
delivery = delivery.merge(temp_df, left_on=['ID','batter'],right_on=['Match_Id','Player_Name'],how='left').fillna(0)

In [ ]:
delivery

,index,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,...,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,Player_Name,Match_Id,Is_Captain
0,0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,0,0,...,0,0,0,0,0,0,Rajasthan Royals,0,0.0,0.0
1,1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,...,1,0,0,0,0,0,Rajasthan Royals,0,0.0,0.0
2,2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,0,1,...,1,0,0,0,0,0,Rajasthan Royals,0,0.0,0.0
3,3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,0,0,...,0,0,0,0,0,0,Rajasthan Royals,0,0.0,0.0
4,4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,0,0,...,0,0,0,0,0,0,Rajasthan Royals,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225949,225949,335982,2,14,5,P Kumar,I Sharma,SB Joshi,legbyes,0,...,1,0,0,0,0,0,Royal Challengers Bangalore,0,0.0,0.0
225950,225950,335982,2,14,6,SB Joshi,I Sharma,P Kumar,0,1,...,1,0,0,0,0,0,Royal Challengers Bangalore,0,0.0,0.0
225951,225951,335982,2,14,7,P Kumar,I Sharma,SB Joshi,0,0,...,0,0,0,0,0,0,Royal Challengers Bangalore,0,0.0,0.0
225952,225952,335982,2,15,1,SB Joshi,LR Shukla,P Kumar,wides,0,...,1,0,0,0,0,0,Royal Challengers Bangalore,0,0.0,0.0
225953,225953,335982,2,15,2,SB Joshi,LR Shukla,P Kumar,0,0,...,0,0,1,SB Joshi,caught,BB McCullum,Royal Challengers Bangalore,0,0.0,0.0

In [ ]:
runs = delivery.groupby(['ID','batter'])['batsman_run'].sum().reset_index()
balls = delivery.groupby(['ID','batter'])['batsman_run'].count().reset_index()

In [ ]:
runs

            ID        batter  batsman_run
0       335982     AA Noffke            9
1       335982       B Akhil            0
2       335982   BB McCullum          158
3       335982      CL White            6
4       335982     DJ Hussey           12
...        ...           ...          ...
14224  1312200     SV Samson           14
14225  1312200  Shubman Gill           45
14226  1312200      TA Boult           11
14227  1312200       WP Saha            5
14228  1312200   YBK Jaiswal           22

[14229 rows x 3 columns]

In [ ]:
fours = delivery.query('batsman_run == 4').groupby(['ID','batter'])['batsman_run'].count().reset_index()
sixes = delivery.query('batsman_run == 6').groupby(['ID','batter'])['batsman_run'].count().reset_index()

In [ ]:
final_df = runs.merge(balls,on=['ID','batter'],suffixes=('_runs','_balls')).merge(fours,on=['ID','batter'],how='left').merge(sixes,on=['ID','batter'],how='left')

In [ ]:
final_df.fillna(0,inplace=True)

In [ ]:
final_df.rename(columns={
    'batsman_run_runs':'runs',
    'batsman_run_balls':'balls',
    'batsman_run_x':'fours',
    'batsman_run_y':'sixes'
},inplace=True)

In [ ]:
final_df['sr'] = round((final_df['runs']/final_df['balls'])*100,2)

In [ ]:
final_df.drop(columns=['balls'],inplace=True)

In [ ]:
final_df = final_df.merge(temp_df,left_on=['ID','batter'],right_on=['Match_Id','Player_Name'],how='left').drop(columns=['Player_Name','Match_Id']).fillna(0)

In [ ]:
final_df = final_df.merge(balls,on=['ID','batter']).rename(columns={'batsman_run':'balls'})

In [ ]:
final_df

            ID        batter  runs  fours  sixes      sr  Is_Captain  balls
0       335982     AA Noffke     9    1.0    0.0   75.00         0.0     12
1       335982       B Akhil     0    0.0    0.0    0.00         0.0      2
2       335982   BB McCullum   158   10.0   13.0  205.19         0.0     77
3       335982      CL White     6    0.0    0.0   60.00         0.0     10
4       335982     DJ Hussey    12    1.0    0.0  100.00         0.0     12
...        ...           ...   ...    ...    ...     ...         ...    ...
14224  1312200     SV Samson    14    2.0    0.0  127.27         0.0     11
14225  1312200  Shubman Gill    45    3.0    1.0  104.65         0.0     43
14226  1312200      TA Boult    11    0.0    1.0  157.14         0.0      7
14227  1312200       WP Saha     5    1.0    0.0   71.43         0.0      7
14228  1312200   YBK Jaiswal    22    1.0    2.0  137.50         0.0     16

[14229 rows x 8 columns]

In [ ]:
def dream11(row):
  score = 0

  score = score + row['runs'] + row['fours'] + 2*row['sixes']

  if row['runs'] >= 100:
    score = score + 16
  elif row['runs'] >= 50 and row['runs'] < 100:
    score = score + 8
  elif row['runs'] >= 30 and row['runs'] < 50:
    score = score + 4
  elif row['runs'] == 0:
    score = score - 2

  if row['balls'] >= 10:
    if row['sr'] > 170:
      score = score + 6
    elif row['sr'] > 150 and row['sr'] <= 170:
      score = score + 4
    elif row['sr'] > 130 and row['sr'] <= 150:
      score = score + 2
    elif row['sr'] > 60 and row['sr'] <= 70:
      score = score - 2
    elif row['sr'] > 50 and row['sr'] <= 60:
      score = score - 4
    elif row['sr'] <= 50:
      score = score - 6
    else:
      pass

  if row['Is_Captain'] == 1:
    score = score*2
    

  return score

In [ ]:
final_df['score'] = final_df.apply(dream11,axis=1)

In [ ]:
export_df = final_df.sort_values('score',ascending=False)[['ID','batter','score']]

In [ ]:
export_df

            ID        batter  score
3325    501243      V Sehwag  332.0
2844    501210  SR Tendulkar  272.0
5302    598027      CH Gayle  244.0
2       335982   BB McCullum  216.0
4254    548342      V Sehwag  202.0
...        ...           ...    ...
3546    501258      ND Doshi   -8.0
3648    501266   S Badrinath   -8.0
4048    548325     DJ Jacobs   -8.0
10432  1175356     SR Watson   -8.0
13132  1304051      N Pooran   -8.0

[14229 rows x 3 columns]

In [ ]:
conn = mysql.connector.connect(host='database-olap.codzmntflx6t.ap-northeast-1.rds.amazonaws.com',user='admin',password='911Pentagon')

In [ ]:
import pymysql
from sqlalchemy import create_engine

In [ ]:
! pip install pymysql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.8/43.8 KB 2.8 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [ ]:
mycursor = conn.cursor()

In [ ]:
mycursor.execute('CREATE DATABASE dream11')
conn.commit()

In [ ]:
engine = create_engine("mysql+pymysql://admin:911Pentagon@database-olap.codzmntflx6t.ap-northeast-1.rds.amazonaws.com/dream11")
# {root}:{password}@{url}/{database}
export_df.to_sql('batter_points', con = engine)